.table-box{

    margin-top:35px;

    background:white;

    padding:25px;

    border-radius:15px;

    box-shadow:0 8px 25px rgba(0,0,0,.08);

}

.table-box table{

    width:100%;

    border-collapse:collapse;

}

.table-box th{

    background:#003366;

    color:white;

    padding:16px;

}

.table-box td{

    padding:15px;

    text-align:center;

    border-bottom:1px solid #eee;

}

.table-box tr:hover{

    background:#f5f7fb;

}

.table-box td:first-child{

    font-weight:600;

    color:#003366;

}